
.main_div{
    position: relative;
    top: 5vw;
    left: 35vw;
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    background-color: #74010B;
    border-radius: 5px;
    height: 70vh;
}

.sub_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 70vh;
    
}


@media only screen and (max-width: 800px) {
    
    .main_div{
        position: relative;
        top: 5vw;
        left: 20vw;
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: center;
        background-color: #74010B;
        border-radius: 5px;
        height: 70vh;
    }
}