.rowContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    overflow-x: auto;
    margin: 3rem 0;
  }
  

  @media (min-width: 768px) and (max-width: 1024px) {
    .rowContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
    }
  }

  @media (max-width: 767px) {
    .rowContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
    }
  }