.individual {
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/background-pijama.svg");
    background-size: cover;
}
.caracteristicasContainer{
    display: flex;
    gap: 13rem;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    margin-bottom: 3rem;
    padding-top: 3rem;
    flex-wrap: wrap;
}
.caracteristicasContainer > img {
    width: 8.75rem;
    height: 140px;
}

.sobreContainer {
    width: 100%;
    background-color: #3E677A;
    padding: 2rem 5rem;
}
.sobreContainer > h1 {
    font-family: var(--terciary-Font);
    font-weight: 400;
    font-size: 2.5rem;
    color: #FCF7F8;
    margin: 2rem 0 4rem;
}
.sobreContainer > p {
    font-family: var(--primary-Font);
    font-weight: 400;
    font-size: 1.5rem;
    color: #FCF7F8;
    margin: 2rem 0;
}

.sobreContainer > h4 {
    font-family: var(--primary-Font);
    font-weight: 600;
    font-style: italic;
    font-size: 1.75rem;
    color: #FCF7F8;
    margin: 2rem 0;
}

.sobreContainer > ul {
    font-family: var(--primary-Font);
    font-weight: 400;
    font-size: 1.5rem;
    color: #FCF7F8;
    margin: 2rem .5rem;
}

@media (max-width: 1100px) {
    .caracteristicasContainer {
        gap: 3rem;
        padding-top: 2rem;
    }
    .sobreContainer {
        padding: 2rem 3rem;
    }
}

@media (max-width: 768px) {
    .caracteristicasContainer {
        gap: 2rem;
    }
    .sobreContainer {
        padding: 1.5rem;
    }
    .sobreContainer > h1 {
        font-size: 2rem;
    }
    .sobreContainer > p, .sobreContainer > ul {
        font-size: 1.25rem;
    }
    .sobreContainer > h4 {
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    .sobreContainer {
        padding: 1rem;
    }
    .sobreContainer > h1 {
        font-size: 1.75rem;
    }
    .sobreContainer > p, .sobreContainer > ul {
        font-size: 1rem;
    }
    .sobreContainer > h4 {
        font-size: 1.25rem;
    }
}
