.individual {
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/background-pijama.svg");
    background-size: cover;
}
.caracteristicasContainer{
    width: 60rem;
    display: flex;
    gap: 13rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 3rem;
    padding-top: 3rem;
}
.caracteristicasContainer > img {
    width: 8.75rem;
    height: 140px;
}

.sobreContainer {
    width: 100%;
    background-color: #3E677A;
    padding: 2rem 5rem;
}
.sobreContainer > h1 {
    font-family: var(--terciary-Font);
    font-weight: 400;
    font-size: 2.5rem;
    color: #FCF7F8;
    margin: 2rem 0 4rem;
}
.sobreContainer > p {
    font-family: var(--primary-Font);
    font-weight: 400;
    font-size: 1.5rem;
    color: #FCF7F8;
    margin: 2rem 0;
}

.sobreContainer > h4 {
    font-family: var(--primary-Font);
    font-weight: 600;
    font-style: italic;
    font-size: 1.75rem;
    color: #FCF7F8;
    margin: 2rem 0;
}

.sobreContainer > ul {
    font-family: var(--primary-Font);
    font-weight: 400;
    font-size: 1.5rem;
    color: #FCF7F8;
    margin: 2rem .5rem;
}