.nav {
    width: 100%;
    display: flex;
    gap: 1.3rem;
    background-color: #FCF7F8;
    align-items: center;
}

.carrinhoBotao {
    width: 16rem;
    height: 7rem;
    border: none;
    background: none;
    margin-top: 1.5rem;
    cursor: pointer;

    font-family: var(--terciary-Font);
    font-weight: 400;
    font-size: 2.3rem;
    color: #A4A8B0;
    
    display: flex; /* Adicionado */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    gap: 0.8rem;
}

.carrinhoBotao > img {
    width: 4rem;
    height: 4rem;
}

.favoritoBotao {
    width: 16rem;
    height: 7rem;
    border: none;
    background: none;
    margin-top: 1.5rem;
    cursor: pointer;

    font-family: var(--terciary-Font);
    font-weight: 400;
    font-size: 2.3rem;
    color: #A31621;
    
    display: flex; /* Adicionado */
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    gap: 0.8rem;
}

.favoritoBotao > img {
    width: 3rem;
    height: 3rem;
}