.login_form{
    display: flex;
    flex-direction: column;
}


.title{
    color: white;
    font-weight: 400;
    /* margin-left: 15px; */
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 48px;
    font-family: 'Numans';
}

.text{
    color: white;
    font-family: 'Roboto Serif';
    /* margin-bottom: 20px; */
    word-wrap: break-word;
    width: 60%;
    text-align: center;
    
}



.input_log::placeholder{
   font-family: 'Roboto';
   font-size: 20px;

}

.senha_btn{
    color: white;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    bottom: 10px;
    left: 10px;
}


.cadastrar_btn, .entrar_btn{
    color: white;
    background-color: #A31621;
    padding: 4px 16px 4px 16px;
    font-weight: 500;
    font-size: 24px;
    box-shadow: 0 5px 6px #00000040;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat';
}

.entrar_btn{
    margin-top: 30px;
}


.separator {
    width: 100%;
    border: 0;
    border-top: 1px solid white;
    /* margin-top: 30px; */
}

.cadastrar_link{
    color: white;
    font-family: 'Montserrat';
}

.errorMessage {
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    display: inline-block;
  }
  
  .entrar_btn_dis,  .cadastrar_btn_dis{

    color: white;
    background-color: #e67982;
    padding: 4px 16px 4px 16px;
    font-weight: 500;
    font-size: 24px;
    box-shadow: 0 5px 6px #00000040;
    border: none;
    border-radius: 10px;
    font-family: var(--quaternary-Font);
    cursor: none;
    
  }

.passwordContainer {
    display: flex;
    align-items: center;
    position: relative;
}

.showPasswordButton {
    background: none;
    border: none;
    position: absolute;
    right: 20px;
    cursor: pointer;
    color: #A31621;
}