.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 37.5rem;
    background: url('../../assets/zzz-background.svg') no-repeat center;
    background-size: cover;
    background-color: #72A8C1;
    padding-bottom: 5rem;
}

.main img {
    width: 350px;
    height: 350px;
}

.main h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: #274553;
    width: 40%;
    text-align: center;
}