h1{
    margin: 0;
}

.mainBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/zzz-background.svg') no-repeat center;
    background-size: cover;
    background-color: #72A8C1;
    width: 100%;
    height: 37.5rem;
}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}


.mainBanner .banner img{
    width: 21.6rem;
    height: auto;
}

.mainBanner .banner h1{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: italic;
    color: #274553;
    text-align: center;
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
}