h1 {
    margin: 0;
}


/* Estilização do banner principal */

.mainBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../assets/zzz-background.svg') no-repeat center;
    background-size: cover;
    background-color: #72A8C1;
    width: 100%;
    height: 37.5rem;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}


.mainBanner .banner img {
    width: 21.6rem;
    height: auto;
}

.mainBanner .banner h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: italic;
    color: #274553;
    text-align: center;
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;
}

/* Estilização dos pontos positivos */
.mainSiteContent {
    display: flex;
    flex-direction: column;
    background: url('../../assets//zzz-blue-background.svg') no-repeat center;
    background-size: cover;
    padding: 0 5rem;
}

.positives {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5rem;
    margin: 5rem auto;
}

.positivesContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.positivesContent img {
    width: 9.375rem;
    height: auto;
}

.positivesContent h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    max-width: 60%;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    color: #171717;
}

.promos h2,
.feedbacks h2{
    font-family: "Numans", sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #74010B;
}

@media (min-width: 768px) and (max-width: 1024px){
    .mainBanner .banner h1 {
        font-size: 2rem;
    }

    .mainBanner .banner img {
        width: 18rem;
    }

    .mainBanner {
        height: 35rem;
    }

    .positives {
        flex-wrap: wrap;
    }

    .positivesContent h2 {
        max-width: 100%;
    }

    .mainSiteContent{
        text-align: center;
        margin: 0;
        padding: 0;
        
    }

}

@media (max-width: 767px){
    .mainBanner .banner h1 {
        font-size: 2rem;
    }

    .mainBanner .banner img {
        width: 15rem;
    }

    .mainBanner {
        height: 30rem;
    }

    .positives {
        flex-wrap: wrap;
    }

    .positivesContent h2 {
        max-width: 100%;
    }

    .mainSiteContent{
        text-align: center;
        margin: 0;
        padding: 0;
        
    }
}