.dropdown_menu{
    width: 20vw;
}

.dropdown_div{
    display: flex;
    justify-content: space-evenly;
    
}

.filter_div{
    height: 20vh;
    background-color: #72A8C1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.placeholder{
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.color_div{
    width: 10px;
    height: 40px;
    background-color: #4E8098;
    position: relative;
    z-index: 1;
    left: 160px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input_div{
    display: flex;
    position: relative;
}

.input{
    width: 100%;
    margin-left: 190px;
    margin-right: 190px;
    border-radius: 10px;
    border: none;
}

.input:focus {
    outline: none;
}

.input_btn{
    position: absolute;
    right: 187px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    background-color: #274553;
    padding: 10px;
    border-radius: 100%;
}

.main_div{
    
}