.card {
    width: 100%;
    height: 18rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: .5rem;
    margin: 2rem 0 0;
    background-image: url('../../assets/background-pijama.svg');
}

.pijamaImage > img {
    width: 182px;
    height: 273px;
    box-shadow: 16px 16px 16px 0px #00000040;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 530px;
}

.about > div > h4 {
    font-family: var(--primary-Font);
    font-weight: 700;
    font-size: 25px;
    color: #274553;
}

.about > div > p {
    font-family: var(--primary-Font);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 4%;
    color: #3E677A;
}

.about > button {
    width: 50px;
    height: 51.5px;
    border-radius: 1px;
    border: none;
    background-color: #3E677A;
    
    font-family: var(--primary-Font);
    font-weight: 400;
    font-size: 20px;
    color: #FCF7F8;
    text-align: center;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    width: 546px;
    margin-top: auto;
}

.priceContainer > p {
    font-family: var(--primary-Font);
    font-weight: 700;
    font-size: 2rem;
    color: #171717;
    align-items: center;
    margin-top: 4.5rem;
}

.quantidadeContainer {
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin: 2rem 0;
}

.quantidadeContainer > h4 {
    font-family: var(--primary-Font);
    font-weight: 300;
    font-style: italic;
    font-size: 1.5rem;
    color: #000000;
}

.quantidadeContainer > p {
    font-family: var(--primary-Font);
    font-weight: 400;
    font-size: .8125rem;
}
.quantidadeContainer > p span {
    font-weight: 800;
    font-style: italic;
}

.quantidadeBotao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #F5F8FF;
    border: 1px solid #3E677A;
    border-radius: 2px;
}

.quantidadeBotao > button {
    width: 100%;
    border: none;
    background-color: #F5F8FF;
    height: 2.5625rem;

    font-family: var(--primary-Font);
    font-weight: 500;
    font-size: 1.5rem;
    color: #000000;

    cursor: pointer;
    display: flex;
    align-items: center;
}

.quantidadeBotao > button > img {
    width: 20px;
    height: 21px;
}

.quantidadeBotao span {
    font-family: var(--primary-Font);
    font-weight: 500;
    font-size: 1.5rem;
    color: #000000;
}

.diminuirBotao {
    justify-content: flex-start;
    margin: 0 1rem;
}
.aumentarBotao {
    justify-content: flex-end;
    margin: 0 1rem;
}

.removeContainer {
    width: 4rem;
}
.removeContainer > button {
    border: none;
    background: none;
}
.removeContainer > button > img {
    width: 100%;
    height: 64px;
}
