.modal{
    background-color: #4E8098;
    width: fit-content;
    height: max-content;
    position: relative;
    top: 15vh;
    left: 40vw;
    padding: 20px;
}

.inputs_main_div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dados_form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: white;
    font-weight: 400;
    font-size: 48px;
    font-family: 'Numans';
}

.inputs_sub_div{
    display: flex;
    flex-direction: column;
}

.min_input {
    width: 5vw;
    margin-bottom: 10px;
}

.med_input{
    width: 12.5vw;
    margin-left: 40px;
    margin-bottom: 10px;
}

.env_button{
    width: 20vw;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 24px;
    font-weight: 500;
    background-color: #274553;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 6px #00000040;
    margin-bottom: 10px;
}

.input{
    margin: 10px;
}

.errorMessage{
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}

.teste{
    display: flex;
    flex-direction: column;
}

.testeg{
    display: flex;
}

.input::placeholder{
    font-family: 'Roboto';
    font-size: 20px;
}

.min_input::placeholder{
    font-family: 'Roboto';
    font-size: 20px;
}

.med_input::placeholder{
    font-family: 'Roboto';
    font-size: 20px;
}